.title {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    &_free {
        font-size: 36px;
        color: #fff;
        text-align: left;
        line-height: 40px;
    }
}